{% extends "base.html" %}
{% block title %}Add User{% endblock %}
{% block content %}
<form action="#" method="post">
  <div class="container text-center" style="margin-top: 50px">
        <div class="container text-center" style="margin-bottom: 20px;">
            <h2>Add user</h2>
        </div>
        <div class="col-md-6 offset-md-3">
            <input class="form-control" name="username" type="text" placeholder="Username" value="{{request.form['username']}}" required/>
            <br>
        </div>
        <div class="col-md-6 offset-md-3">
            <input class="form-control" name="email" type="email" placeholder="Email" value="{{request.form['email']}}" required/>
            <br>
        </div>
        <div class="col-md-6 offset-md-3">
            <input class="form-control" name="birthday" type="date" placeholder="Date of birth" value="{{request.form['birthday']}}" required/>
            <br>
        </div>
        <br>
        {% if error %}
        <label style="color: red">{{error}}</label>
        {% endif %}
        <br>
        <br>
        <button class="btn btn-primary" style="background-color: #8000ff; border-color: #8000ff;" type="submit">Submit</button>
    </div>
</form>
{% endblock %}