{% extends "base.html" %}
{% block title %}Add Review{% endblock %}
{% block content %}
<form action="#" method="post">
  <div class="container text-center" style="margin-top: 50px">
        <div class="container text-center" style="margin-bottom: 20px;">
            <h2>Add review</h2>
        </div>
        <div class="col-md-6 offset-md-3">
            <input class="form-control" name="username" type="text" placeholder="Username" value="{{request.form['username']}}" required/>
            <br>
        </div>
        <div class="col-md-6 offset-md-3">
            <textarea class="form-control" name="content" placeholder="Review"required/>{{request.form['content']}}</textarea>
            <br>
        </div>
        <br>
        {% if error %}
        <label style="color: red">{{error}}</label>
        {% endif %}
        <br>
        <br>
        <button class="btn btn-primary" type="submit" style="background-color: #8000ff; border-color: #8000ff;">Submit</button>
    </div>
</form>
{% endblock %}